@import '../../../../scss/config';

.explore-section {
    .explore-title {
        display: flex;
        align-items: center;
        gap: 10px;

        h1 {
            color: #fff;
        }

        .arrow-img {
            background-color: #232326;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: grid;
            align-items: center;
            justify-content: center;
            img {
                width: 12px;
            }
        }
    }

    .explore-items {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 32px;

        @include mediaLg {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 32px;
        }

    }
}