@import '../../../../scss/config';

.explore-section {
    .explore-title {
        display: flex;
        align-items: center;
        gap: 10px;

        h1 {
            color: #fff;
        }

        .arrow-img {
            background-color: #232326;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: grid;
            align-items: center;
            justify-content: center;

            img {
                width: 12px;
            }
        }
    }

    .explore-items {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 32px;
        margin: 50px 0px;

        @include mediaLg {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 32px;
        }

        .explore-card {
            border-radius: 6px;

            .header {
                width: 100%;
                height: 230px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 32px;
                align-items: end;
                padding: 0px 20px;
                padding-bottom: 20px;
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;

                .cyrcle-bar {
                    text-align: end;

                    svg {
                        width: 50px;

                    }
                }
            }

            .cart-data {
                padding: 20px;
                background-color: #fff;
                border-bottom-right-radius: 6px;
                border-bottom-left-radius: 6px;

                h1 {
                    font-weight: bold;
                }

                p {
                    margin: 20px 0px;
                    color: #656F77;
                }

                .tags {
                    display: flex;
                    gap: 10px;

                    div {
                        padding: 5px;
                        border-radius: 6px;
                        color: $main_app_color;
                        background-color: #00ACB129;
                    }
                }

                .persons {
                    display: flex;
                    gap: 6px;
                    align-items: center;

                    img {
                        border-radius: 50%;
                    }

                    .users {
                        color: #656F77;

                        strong {
                            color: #000;
                        }
                    }
                }

                .complate-data {
                    margin: 20px 0px;

                    .number {
                        color: $main_app_color;
                    }

                    .progress {
                        div {
                            div {
                                div {
                                    background-color: $main_app_color !important;

                                    span {
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }

                    .compare-div {
                        display: grid;
                        grid-template-columns: 1fr 1fr;

                        .total {
                            text-align: end;
                        }
                    }

                }

                .donate-btn {
                    background-color: $main_app_color;
                    color: #fff;
                    padding: 20px 50px;
                    border-radius: 6px;
                    &:hover {
                        cursor: pointer;
                    }
                }

                .card-footer {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    align-items: center;

                    p {
                        color: #656F77;
                    }

                    h3 {
                        color: #000000;
                    }
                }
            }
        }
    }
}