@import '../../scss/config';

.main-app-bar-lg {
  position: relative;
  z-index: 999999;
padding: 30px 0px;
  .nav-content-wrapper {
    display: grid;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    grid-gap: 32px;
    align-items: center;

    .main-app-bar-logo {
      padding: 2px 0;
      padding-top: 14px;

      img {
        height: auto;
        transition: all 0.25s ease-out;
        width: 155px;
      }
    }

    .nav-lang-wrapper {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 32px;

      &>ul {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 32px;
        font-weight: bold;

        li {
          a {
            display: grid;
            justify-items: center;
            padding-bottom: 14px;
            position: relative;
            color: #fff;

            .active-img-wrap {
              width: 44px;
              height: 2px;
              position: absolute;
              bottom: 0;
            }

            &.active-link {
              color: $main-app-color;

            }
          }
        }
      }

      .main-lang-btn {
        .lng-span-btn {
          color: $main-app-color;
        }
      }
    }

    .sign-up-btn {
      background-color: #fff;
      color: #000;
      padding: 10px 30px;
      border-radius: 3px;
    }
  }

  &.dark {
    .nav-content-wrapper {
      .nav-lang-wrapper {
        .main-lang-btn {
          .lng-span-btn {
            color: #000;
          }
        }
      }
    }
  }

  &.light {
    .nav-content-wrapper {
      .nav-lang-wrapper {
        &>ul {
          li {
            a {
              color: #fff;
              font-size: 20px;
            }
          }
        }
      }
    }
  }


  display: none;

  @include mediaLg {
    display: grid;
  }
}